# Maven build outputs
backend-java/target/
backend-java/*.jar
backend-java/*.war

# Python compile cache & environments
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
.venv/
venv/
ENV/
env/
.pytest_cache/
.librosa/

# H2 Database files
*.mv.db
*.trace.db

# IDE Files
.idea/
.vscode/
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS Files
.DS_Store
Thumbs.db
